{% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
  <ul>
    {% assign url = site.baseurl | append: "/" %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'page' | append: paginator.previous_page %}
      {% endif %}
      <li><a class="prev" href="{{ url | append: prev }}" title="Articles new">&laquo; Prev</a></li>
    {% else %}
      <li><span class="prev disabled">&laquo; Prev</span></li>
    {% endif %}
    <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>
    {% if paginator.next_page %}
      <li><a class="next" href="{{ url | append: 'page' | append: paginator.next_page }}" title="Articles old">Next &raquo;</a></li>
    {% else %}
      <li><span class="next disabled">Next &raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<div id="post-pagination" class="pagination clearfix">
    {% assign url = site.baseurl | append: "/" %}

    {% if paginator.previous_page %}
        <p class="previous">
            {% if paginator.previous_page == 1 %}
                <a href="{% url | append: '/' %}">이전 페이지</a>
            {% else %}
                <a href="{% url | append: /page{{paginator.previous_page}} %}">이전 페이지</a>
            {% endif %}
        </p>
    {% else %}
        <p class="previous disabled">
            <span>이전 페이지</span>
        </p>
    {% endif %}

    <ol class="pages">
        <li class="page">
            {% if paginator.page == 1 %}
                <span class="current-page">1</span>
            {% else %}
                <a href={% url | append: '/' %}>1</a>
            {% endif %}
        </li>

        {% for count in (2..paginator.total_pages) %}
            <li class="page">
                {% if count == paginator.page %}
                    <span class="current-page">{{count}}</span>
                {% else %}
                    <a href="{% url | append: /page{{count}} %}">{{count}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>

    {% if paginator.next_page %}
        <p class="next">
            <a href="{% url | append: /page{{paginator.next_page}} %}">다음 페이지</a>
        </p>
    {% else %}
        <p class="next disabled">
            <span>다음 페이지</span>
        </p>
    {% endif %}

</div>
